*{
    box-sizing: border-box;
    margin : 0 30px;
    padding: 0 10px;
    background:lightgray;
}

.heading{
    display: flex;
    font-size: x-large;
    font-weight: 100;
    color: blue;
    margin-bottom: 25px;
}

.choice-Container h2{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color: blueviolet;
    margin-bottom: 25px;
}

.choice-Container h3{
    margin-bottom: 20px;
}
.movesleft{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 15px;
}
.score-box{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.score-box h2{
    text-shadow: 4px 2px 2px red;
}
.playerCount{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.computerCount{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}
.button-boxes{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.button-boxes .rock{
    background-color: aquamarine;
    color:#0a0a03;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px;
    padding: 10px;
}
.button-boxes .paper{
    background-color: aquamarine;
    color: #0a0a03;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px;
    padding: 10px;
}
.button-boxes .scissors{
    background-color: aquamarine;
    color:#0a0a03;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px;
    padding: 10px;
}
.result{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    margin-bottom: 30px;
}

.buttonreload{
    display: flex;
    justify-content: center;
    align-items: center;
}
.reload{
    background-color: aquamarine;
    color: #0a0a03;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px;
    padding: 15px;
}